.profile{
    width: 850px;
    top: 80px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    #profile-head{
        background-color: #f7f7f7;
        padding: 10px 20px;
    }
    #profile-pic{
        border-radius: 50%;
        margin-top: 55px;
        width: 200px;
        height: 200px;
    }
}
