*{
  box-sizing: border-box;
  transition: 0.3s ease all;
}
body { 
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $light-grey;
    
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

// login page component

.login{
  background: $prussian;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;


    .form-container{
      width: 405px;
      padding: 40px;
      background-color: $white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0px 0px 5px #545252;

        #sign-label{
          text-align: center;
          padding-bottom: 20px;
        }
        .textfield{
          margin-bottom: 12px;
        }
        #radio_btn{
          padding: 10px;
        }
        #login-btn{
          padding: 11px 138px;
          color: $white;
          background-color: $prussian;

          &:hover{
            background-color: $steel;
          }
        }
        #signup-label{
          margin-top: 30px;
          text-align: center;
            
        }
    }
    


}
// registeration page component

.Register{
    background: $prussian;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;
    .form-container{
      width: 660px;
      padding: 40px;
      background-color: $white;
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0px 0px 5px #545252;

        #register-label{
          text-align: center;
          margin-bottom: 20px;
        }
        .sign-up-btn{
          text-align: center;
          margin-top: 25px;

            button{
              padding: 13px 50px;
              background-color: $prussian;
              color: $white;

              &:hover{
                background-color: $steel;
              }
            }
            
        }
        #login-label{
          margin-top: 20px;
        }

      }
}

// dashboard component

.content{
  padding:65px 0px 70px 52PX;
  background-color: $light-grey;

    &.expended{
      padding:65px 0px 70px 249px;
      background-color: $light-grey;

    }
    
}
#logout-btn{
  position: fixed;
  top: 15px;
  z-index: 10000;
  right: 25px;
}

// patient history component

.history-container{
  position: relative;
  top: 30px;
  width: auto;

    .history-head{
      background-color: $prussian;
      color: $white;
      padding: 12px;
    }
}

// patient section Tab component

.patienSection-tab{
  background-color: $light-grey;
}


// common header component


.page-header {
  background-color: $prussian;
  padding: 25px 40px 25px 40px;

  h1 {
    color: $white;
    font-size: 25px;
  }
}

// formik style

.error {
  .MuiOutlinedInput-notchedOutline {
    border-color: $danger;
  }
  .MuiInputLabel-outlined {
    color: $danger;
  }
  & + .error-message {
    color: $danger;
  }
}

// popcontent style

.popup-content{
  max-width: 960px;
  margin: 0 auto;
}