.id-container{
    width: 500px;
    text-align: center;
    left: 50%;
    top: 80px;
    position: relative;
    transform: translateX(-50%);
    
        #id-head{
            background-color: #f7f7f7;
            padding: 15px;
        }
        #outlined-textarea{
            width: 280px;
        }
        #id-textbox{
            margin-top: 25px;
            margin-bottom: 15px;
        }
        #id-button{
            padding-bottom: 20px;

            Button{
                padding: 10px 40px;
            }
        }
}
