$red:#f00;
$grey-light: #f7f7f7;
$white:#ffffff;
$blue:#3f51b5;
$primary: #242424;
$white: #ffffff;
$blue: #61dafb;
$light-grey: #f7f7f7;
$grey: rgba(255, 255, 255, 0.05);
$steel: #192e3e;
$prussian: #0e1b25;
$danger: #f44336;
$orange: rgb(255, 111, 0);
$success: rgb(9, 210, 97);
$purple: rgb(82, 94, 138);